version 1

provider "fallback" type="command" {
    priority 100
    autostart #true
    required #false
    exec "sleep" "30"
    restart policy="never" delay-ms=200 max-delay-ms=1000
    health type="process"

    capability "ui:test" {
        action "open" {
            exec "true"
        }
    }

    capability "ui:other" {
        action "open" {
            exec "true"
        }
    }
}

provider "primary" type="command" {
    priority 200
    autostart #true
    required #false
    exec "sleep" "30"
    restart policy="on-failure" delay-ms=300 max-delay-ms=1200
    health type="process"

    capability "ui:test" {
        action "open" {
            exec "true"
        }
    }
}

fallback enabled=#false
